{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>POKEDEX</title>
  <meta charset="utf-8" />
  <meta name="description" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" type="text/css" href="{% static 'index.css' %}" />
</head>

<body>
  <h1 class="title">POKEDEX</h1>
  <section id="search">
    <div id="main-search">
      <form action="">
        <input type="text" placeholder="Enter the name of your pokemon" id="search-input">
        <input type="button" value="enviar" id="search-button">
      </form>
    </div>
    <div class="results-container" id="trend-results">
    </div>
    <div class="evolutions" id="evolutions">
      <div class="p-evolutions">
        <h3>PRE-EVOLUTION(S)</h3>
        <div id="pre-evolution"></div>
      </div>
      <div class="p-evolutions">
        <h3>EVOLUTION(S)</h3>
        <div id="evolution"></div>
      </div>
    </div>
  </section>
  <script>
    var button = document.getElementById("search-button");
    button.onclick = function (e) {
      e.preventDefault;
      var name = document.getElementById("search-input").value;
      getResults(name);
    };


    function getResults(name) {
      fetch("https://mopokemonapi.herokuapp.com/api/" + name)
        .then((response) => {
          return response.json();
        })
        .then((json) => {
          console.log(json);
          let imgHTML = "";
          let evolutionHTML = "";
          let pevolutionHTML = "";
          let notFoundHTML = "";
          const resultsEl = document.getElementById("trend-results");
          const preevolutions = document.getElementById("pre-evolution");
          const evolution = document.getElementById("evolution");

          if (json.name == "pokemon not found") {
            notFoundHTML += `
              <h1>
                POKEMON NOT FOUND
              </h1>
              <form>
                  <input type="text" placeholder="Enter family tree number" id="family-input">
                  <input type="button" value="enviar" id="family-button">
              </form>`;
            resultsEl.innerHTML = notFoundHTML;
            preevolutions.innerHTML = "";
            evolution.innerHTML = "";
            var button_family = document.getElementById("family-button");
            button_family.onclick = function (e) {
              e.preventDefault;
              var id = document.getElementById("family-input").value;
              getFamily(id);
            };
            function getFamily(id) {
              console.log(id);
              fetch("https://mopokemonapi.herokuapp.com/create-family/" + id)
                .then((response) => {
                  return (response.json());
                })
                .then((json) => {
                  alert(json.status);
                })
            }
          } else {
            var evolutionsList = [];
            var pevolutionList = [];
            json.evolutions.forEach((evolution) => {
              if (evolution.evolutionType == "evolution") {
                evolutionsList.push(evolution);
              } else {
                pevolutionList.push(evolution);
              }
            });
            imgHTML += `
            <div class="pokemon-cont">
                <img src = "${json.image}" width = "30%" height = "30%">
                <div class="pokemon-desc">
                  <p>NAME: ${json.name}</p>
                  <p>ID: ${json.id}</p>
                  <p>HEIGHT: ${json.height}</p>
                  <p>WEIGHT: ${json.weight}</p>
                  <p>HP: ${json.base_stats.hp}</p>
                  <p>ATTACK: ${json.base_stats.attack}</p>
                  <p>DEFENSE: ${json.base_stats.defense}</p>
                  <p>SPEED: ${json.base_stats.speed}</p>
                  <p>SPECIAL DEFENSE: ${json.base_stats["special-defense"]}</p>
                  <p>SPECIAL ATTACK: ${json.base_stats["special-attack"]}</p>
                </div>
              </div>
                  `;
            resultsEl.innerHTML = imgHTML;
            evolutionsList.forEach((evolution) => {
              evolutionHTML += `
        <div class="pokemon">
          <div class="pokemon-characteristics">
            <img src = "${evolution.image}" class = "item" width = "100px" height = "100px">
          </div>
          <div class="pokemon-characteristics">
            <p>NAME: ${evolution.name}</p>
            <p>ID: ${evolution.id}</p>
          </div>
        </div>`;
            });
            evolution.innerHTML = evolutionHTML;
            pevolutionList.forEach((evolution) => {
              pevolutionHTML += `<div class="pokemon">
          <div class="pokemon-characteristics">
            <img src = "${evolution.image}" class = "item" width = "100px" height = "100px">
          </div>
          <div class="pokemon-characteristics">
            <p>NAME: ${evolution.name}</p>
            <p>ID: ${evolution.id}</p>
          </div>
        </div>`;
            });
            preevolutions.innerHTML = pevolutionHTML;
          }
        });
    }
  </script>
</body>

</html>